:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

p {
  font-family: Lato;
}
table {
  width: 90%;
  margin: auto;
  margin-top: 25px;
}
.btn-edit {
  text-align: right;
}
h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}

.button-remove {
  color: red;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
}


.example-element-diagram {
  min-width: 80px;
  border: 0px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

.centre {
background-color: whitesmoke;
}

.mat-form-field-infix {
  width:33% !important;
}

mat-form-field-infix {
  width:33% !important;
}